<div class="p-grid p-fluid">
  <div class="p-col-12 line"></div>
  <div class="p-col-12 p-md-2 p-m-0 p-p-0" style="background: #000;color:white; height:116px">
  <p-avatar
    image="../../assets/logo/Slogo.png"
    styleClass="p-mr-2">
  </p-avatar>
  </div>
  <div class="p-col-12 p-md-10 p-m-0 p-p-0">
    <div class="p-md-12 p-m-0 p-p-0" style="background: #333333;color:white; height:60px">
      <div class="p-col-12 p-md-4" style="float: right">
        <div class="card" style="float:right">
          <p-avatar
            label="U"
            [style]="{'background-color': '#f6f6f6'}"
            shape="circle">
          </p-avatar>
          <span class="header-text">Welcome<span style="margin-left: 10px" *ngIf="username">{{username}}</span></span>
        </div>
      </div>
    </div>
    <div class="p-md-12 p-m-0 p-p-0" style="height:60px">
      <p-menubar [model]="items" >

      </p-menubar>
    </div>
  </div>

</div>

<!-- The social media icon bar -->
<div class="icon-bar">
  <a class="back sidebarIcon" ><i class="pi pi-arrow-left"><br><span>Back</span></i></a>
  <a class="login sidebarIcon">
    <span *ngIf="username">
      <i class="pi pi-palette" routerLink="dashboard" style="font-size: 1rem"><br><span>Dashboard</span></i>
    </span>
    <span *ngIf="!username">
      <i class="pi pi-user" routerLink="login" style="font-size: 1rem"><br><span>Login</span></i>
    </span>
  </a>
  <a class="cart sidebarIcon" routerLink="profile"><i class="pi pi-shopping-cart" style="font-size: 1rem">
   <span *ngIf="count"><p-badge [value]="count" size="small" class="cartItemCount" severity="success" severity="success"></p-badge></span>
    <br><span>Cart</span></i>
  </a>
  <a class="logout sidebarIcon"><i class="pi pi-sign-out" style="font-size: 1rem" (click)="logout()"><br><span>Logout</span></i></a>
</div>
