<div class="p-grid p-fluid">
  <div class="p-col-12 line"></div>
  <div class="p-col-12 p-md-2 p-m-0 p-p-0" style="background: #000;color:white; height:116px">
    SPORT
  </div>
  <div class="p-col-12 p-md-10 p-m-0 p-p-0">
    <div class="p-md-12 p-m-0 p-p-0" style="background: #333333;color:white; height:60px">
      SPORT
    </div>
    <div class="p-md-12 p-m-0 p-p-0" style="height:60px">
      <p-menubar [model]="items" >
      </p-menubar>
    </div>
  </div>

</div>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!-- The social media icon bar -->
<div class="icon-bar">
  <a class="back"><i class="pi pi-arrow-left" style="font-size: 1rem"><br><span>Back</span></i></a>
  <a class="login"><i class="pi pi-user" routerLink="login" style="font-size: 1rem"><br><span>Login</span></i></a>
  <a class="cart"><i class="pi pi-heart" style="font-size: 1rem"><br><span>Cart</span></i></a>
  <a class="logout"><i class="pi pi-sign-out" style="font-size: 1rem"><br><span>Logout</span></i></a>
</div>
