<div *ngIf="loadingBradecrumb">
  <p-breadcrumb [model]="path"></p-breadcrumb>
</div>
<div *ngIf="loadPath">
  <p>Loading Product Details...</p>
  <p-progressSpinner [style]="{width: '75px', height: '75px',margin:'15% auto',display:'block'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
</div>
<div *ngIf="!loadPath">
<div class="p-grid" style="margin-top: 20px" *ngIf="currentProduct">
  <div class="p-col-1">
    <div style="margin-left: 40px"><span *ngFor="let image of images;let indexOfElement=index;">
    <img (click)="changeImage(indexOfElement)" style="height: 100px;width: 80px;padding: 5px" src="http://192.168.1.11:80/cart-backend/pub/media/catalog/product{{image.file}}"><br>
    </span>
    </div>
  </div>
  <div  class="p-col-5" >
    <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [page]="num">
      <ng-template let-image pTemplate="item">

        <lib-ngx-image-zoom

          [thumbImage]='"http://192.168.1.11:80/cart-backend/pub/media/catalog/product"+image.file'
          [fullImage]='"http://192.168.1.11:80/cart-backend/pub/media/catalog/product"+image.file'
          [magnification]="1"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="300"
          [lensHeight]="400"
        >
        </lib-ngx-image-zoom></ng-template>
      <br>

    </p-carousel>





  </div>
<!--  <div class="p-col-1"></div>-->
  <div style="background-color: white" class="p-col-5">
    <div>
      <div style="font-size: 2.8em;color: #d2232a">{{currentProduct.name}}</div>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <br>
      <div>
        <div style="font-size: 1.4em;display: inline-block; color: #333333">
        Price  {{currentProduct.price +" &#8377;" }}
        </div>

        <h3 style="color: red">Extra 25% off use: SUMMER</h3>

        <p-rating [(ngModel)]="val" [cancel]="false"></p-rating>
        <br>
        <div style="display: inline-block;float:  inline-start">
          <span style="font-size: 1.6em;text-align: center;color: darkgoldenrod">IN STOCK</span><br>
          <span style="text-align: center;color: darkgoldenrod"><b>SKU # :{{currentProduct.sku}}</b></span>
        </div>
      </div>
    <br>
<!--    <div class="dropdown-divider"></div>-->
    <div style="padding-top: 10px;">
      <span style="font-size: 1.4em">Color</span><br>
      <div  style="padding-left: 44px; text-align: center;" >
            <span  *ngFor="let color of currentProduct.colors" style="padding-right: 7px;padding-left: 7px;cursor: pointer;float: left" (click)="getMediaGallery(color)">
                       <span>{{color.label}}<br/>
                   <span id="colorBox_{{color.value+currentProduct.sku}}" style=" height: 25px;
                             width: 25px; border-radius: 50%;display: inline-block;border: 1px solid #BADA55"
                         [style.background-color]="getColor(color.label)"></span>
                       </span>
            </span>
               </div>
      <br>
      <div style="padding-top: 30px;">
            <span style="font-size: 1.5em;color: #d2232a">Size</span><br>
            <span  style="padding-left: 25px;text-align: center; margin-bottom: 10px;">
                <span *ngFor="let size of currentProduct.sizes" style="padding-right: 7px;padding-left: 7px;cursor:pointer"  (click)="selectSize(size)">
                   <span id="sizeBox_{{size.value+currentProduct.sku}}" class="sizeStyle" >{{size.label}}</span>
                       </span>
            </span>
                </div>

    </div>
</div>
  </div></div>

<div class="p-grid">
  <div class="p-col-1"></div>
<div class="p-col-10" *ngIf="currentProduct">
  <div class="p-card" style="background-color: #0D1326" >
    <h2 >About Product</h2>
  <p-tabView>
    <p-tabPanel header="Description">
      <div  style="background-color: lavender;" [innerHTML]="currentProduct.description"></div>
    </p-tabPanel>
    <p-tabPanel header="Information">
      <div style=" background-color: lavender;" *ngFor="let moreInformation of moreInformations ">
        <span ><b>{{moreInformation.code}}</b></span> : <span>{{moreInformation.value}}</span>
      </div>
    </p-tabPanel>
  </p-tabView>
  </div>
</div>
</div>
</div>
