 <p-button icon="pi pi-shopping-cart" label="Add to cart" (click)="showDialog()"></p-button>
  <p-dialog [(visible)]="addToCartShow" [style]="{width: '50vw'}" [baseZIndex]="10000"
            header="Item add to cart">
    <div class="p-grid">

      <div class="p-col-8 p-grid" style="margin-top:10px">

        <div class="p-col-6">
           <span class="p-grid" style="padding-left: 44px;text-align: center;">
                   <span *ngFor="let color of product.colors"
                         style="padding-right: 7px;padding-left: 7px;cursor: pointer"
                         (click)="getMediaImage(product,color,product.colors)">
                       <span>{{color.label}} <br/>

                   <span id="colorBoxAddToCart_{{color.value+product.sku}}" [style]="{ 'height': '25px',
                             'width': '25px', 'border-radius': '50%','display': 'inline-block','border': '1px solid #BADA55'}"
                         [style.background-color]="getColor(color.label)"></span>
                       </span>
            </span>
               </span>
        </div>
        <div class="p-col-6">
          <p>Color</p>
        </div>
        <div class="p-col-6">
                     <span class="p-grid" [style.padding-left]="product && product.sizes.length>3 ? '25px':'56px'"
                           style="padding-left: 25px;text-align: center; margin-bottom: 10px; margin-top: 10px">
                             <span *ngFor="let size of product.sizes"
                                   style="padding-right: 7px;padding-left: 7px;cursor: pointer"
                                   (click)="selectSize(product,size,product.sizes)">
                             <span id="sizeBoxAddToCart_{{size.value+product.sku}}"
                                   class="sizeStyle">{{size.label}}</span>
                                 </span>
                      </span>

        </div>
        <div class="p-col-6">
          <p>Size</p>
        </div>
        <div class="p-col-6">
          <form [formGroup]="addToCartFrom">
            <div class="form-group" style="margin-left:64px">
              <input
                size="10"
                type="number"
                formControlName="qty"
                minlength="0"
                class="form-control p-inputtext textfield p-component"
              />
            </div>
          </form>

        </div>
        <div class="p-col-6">
          <p>Qty *</p>
        </div>
      </div>
      <div class="p-col-3">
        <img alt="Card" height="214" width="234"
             src="http://192.168.1.11:80/cart-backend/pub/media/catalog/product{{product.image}}">
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button pButton type="button" icon="pi pi-shopping-cart" class="p-button-success" label="Confirm" (click)="validateThenAddToCart()"></button>

      <button pButton type="button" class="p-button-danger" label="Cancel" (click)="addToCartShow=false"></button>
    </ng-template>

  </p-dialog>

<!--  to create Loginpop up dialog -->
 <p-dialog [(visible)]="loginShowPopup" [style]="{width: '50vw'}" [baseZIndex]="10000"
           header="Login here">
  <app-login-dailog></app-login-dailog>
</p-dialog>
