.inputbox
{
  margin-left: 150px;
  font-size: 1em
}
.account{
  text-align: center;

}
.createbotton{
  margin-left: 600px;
}
.labelText{
  margin-left: 150px;
  font-size: 1.4em;
}
.buttoncolor:hover{
 background-color: red;
}
.imageset{
  height: 145px;
  width: 170px;
    
}
