<body bgcolor="#dcdcdc">
<h1 class="account">Account</h1><br>
<div class="p-col-12 line"></div>
<div style="display: flex" class="p-col-12 p-md-12 p-m-0 p-p-0">
  <div>
    <div>
      <label class="labelText">Email</label>
      <br>
      <input id="email" type="email" size="75"  class="p-component inputbox p-inputtext" pInputText placeholder="">
    </div>

    <div class="p-field">
      <label class="labelText">Password</label><br>
      <input id="password" size="75" type="text" class="p-inputtext inputbox p-component" pInputText placeholder="">
    </div>
  </div>

  <div style="float:right;
    margin-left: 75px;">
    <img src="../../assets/images/shoes.jpg" class="imageset" alt="image">
  </div>
</div>

<br>
<div>
  <button pButton type="button" class="p-inputtext inputbox buttoncolor p-button" >Login</button>
<button pButton type="button" (click)="navigateToSignUp()" class="p-inputtext buttoncolor createbotton p-button" >Create an Account</button>
</div>
</body>
