.currentCategory {
  color: #d2232a;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
.selected-color {
  border: 3px solid #BADA55 !important;
}
.unselected-color {
  border: 1px solid #BADA55 !important;
}
.selected-size {
  background:#d2232a;
  color:white;
  padding:0 10px;
}
.unselected-size {
  border: none !important ;
}
.sizeStyle{
  height: 22px;
  width: 25px;
  display: inline-block;
  background: lavender;
}
