<p-toast position="top-left"></p-toast>
<div class="mainDiv">
  <div class="p-grid p-m-2" style="border-bottom: 1px solid #4f4f4f">
      <span class="p-col-8">
            <h3>Select a delivery address</h3>
        <span class="p-my-2">
          Is the address you'd like to use displayed below? If so, click the corresponding <br>"Deliver to this address" button. Or you can <b style="color: #007185">enter a new delivery address</b>.
    </span>
      </span>

    <span class="p-col-4 p-mt-4">
      <span>Sending items to more than one address?<br><b style="color: #007185">Deliver to multiple address</b></span>
      </span>

  </div>

  <div class="p-grid">
    <div class="p-col-6">
  <div class="p-grid p-mx-6 p-mt-4">
    <h3>Most recently used</h3>
  </div>

  <div class="p-grid p-mx-3 p-mt-2">
    <p-card class="p-col-6">
      <p class="p-mx-3">
        <span style="font-weight: bold">{{billingData.firstname + " " + billingData.lastname}}</span>
        <br>
        <span>{{billingData.street[0] +"  "+ billingData.city +"," +billingData.postcode}}</span>
        <br>
        <span *ngIf="billingData.country_id==='IN'">INDIA</span>
      </p>
      <p-footer>
        <button pButton type="button" label="Deliver to this address" style="background: #f0c14b;border-color: #cba957 #bf942a #aa8326;margin:10px 25px;width:80%;height:25px" (click)="paymentMethod()"></button>
<!--        <div class="p-grid">-->
<!--          <span class="p-col-6"><button pButton type="button" label="Edit" style="background: #d8dde6;color: black;height: 20px"></button></span>-->
<!--          <span class="p-col-6"><button pButton type="button" label="Delete"style="background: #d8dde6;color: black;height: 20px;" ></button></span>-->
<!--        </div>-->
      </p-footer>
    </p-card>
  </div>


  <div class="p-grid p-mx-6 p-mt-4">
    <h3>Other addresses</h3>
  </div>

  <div class="p-grid p-mx-3 p-mt-2">
      <p-card class="p-col-6">
        <p class="p-mx-3">
          <span style="font-weight: bold">{{addressData.firstname + " " + addressData.lastname}}</span>
          <br>
          <span>{{addressData.street[0] +"  "+ addressData.city +"," +addressData.postcode}}</span>
          <br>
          <span *ngIf="addressData.country_id==='IN'">INDIA</span>
        </p>
        <p-footer>
          <button pButton type="button" label="Deliver to this address" style="background: #f0c14b;border-color: #cba957 #bf942a #aa8326;margin:10px 25px;width:80%;height:25px" (click)="loadPaymentOption()"></button>
<!--          <div class="p-grid p-ml-3">-->
<!--            <span class="p-col-4"><button pButton type="button" label="Edit" style="background: #d8dde6;color:black;height: 20px"></button></span>-->
<!--            <span class="p-col-4"><button pButton type="button" label="Delete"style="background: #d8dde6;color: black;height: 20px;" ></button></span>-->
<!--          </div>-->
        </p-footer>
      </p-card>
  </div>
    </div>

    <div class="p-col-6">
      <div class="p-grid p-mx-6 p-mt-4">
        <h3>Select a payment method</h3>
      </div>
      <table *ngIf="showPayment" styleClass="p-datatable-striped p-mx-6 p-mt-4" style="background: white;">
        <tr>
          <th></th>
          <th>Name on Card</th>
          <th>Expires on</th>
        </tr>

        <tr *ngFor="let cartDataInfo of cartData">
          <td>
            <span>{{cartDataInfo.cardName}}</span>
            <span>  ending in {{cartDataInfo.cardNumber}}</span>
          </td>
          <td>
            {{cartDataInfo.name}}
          </td>
          <td>
            <b>{{cartDataInfo.dateConvert}}</b>
          </td>
        </tr>

          <span>
            <p-button (click)="showBasicDialog()"  label="Add new Card"></p-button>
            <p-dialog header="Add a credit or debit card" [(visible)]="displayBasic" [style]="{width: '55vw'}" [baseZIndex]="10000">

             <div class="p-grid" >

               <div class="p-col-7">
               <form [formGroup]="signUpFrom">
                 <div class="form-group">
          <div class="p-grid p-my-2">
            <div class="p-col-5"><label class="textfield label">Card Name</label></div>
            <div class="p-col-7">
              <input
                size="20"
                type="text"
                formControlName="cardName"
                class="form-control p-inputtext textfield p-component"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="p-grid p-my-2">
            <div class="p-col-5"><label class="textfield label">Card Number</label></div>
            <div class="p-col-7">
              <input
                size="60"
                type="number"
                formControlName="cardNumber"
                class="form-control p-inputtext textfield p-component"
              />
            </div>
          </div>
        </div>
                 <div class="form-group">
          <div class="p-grid">
            <div class="p-col-5"><label class="textfield label">Name on card</label>
            </div>
            <div class="p-col-7">
              <input
                size="20"
                id="name"
                type="text"
                formControlName="name"
                class="form-control p-inputtext textfield p-component"
                pInputText placeholder=""
              />
            </div>
          </div>
        </div>

                 <div class="form-group">
          <div class="p-grid">
            <div class="p-col-5"><label class="textfield label">Expiry date</label>
            </div>
            <div class="p-col-7">
              <span>
                <p-calendar formControlName="date" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
              </span>

            </div>
          </div>
        </div>
      </form>
             </div>
              <div class="p-col-5 p-my-2"style="border-left:1px solid #a59e9e;margin-top: 25px!important;overflow: hidden;">
                <span class="p-py-2">Amazon accepts all major credit and debit cards:</span><br>
                <span class="p-py-2">
                  <img src="../../assets/logo/cartImage.png"  />
                </span>
              </div>
             </div>
          <ng-template pTemplate="footer" style="background: #aa8326">
        <p-button (click)="displayBasic=false" label="Cancel"></p-button>
        <p-button (click)="addYourCard()" label="Add your card"></p-button>
    </ng-template>
</p-dialog>
          </span>
<!--        <tr>-->
<!--        <td>UPI Option</td>-->
<!--      </tr>-->
<!--        <tr>-->
<!--        <td>Pay On delivery</td>-->
<!--      </tr>-->
      </table>
    </div>
  </div>

</div>
