//.mainDiv{
//  width:90%;
//  background: white;
//  border-bottom: 1px solid #4F4F4F;
//}
//.textfield{
//  font-size: 1.2em;
//  margin-left: 120px;
//}
//.label{
//  color:#d2232a;
//}
//.buttonArea:hover{
//  background-color: #d2232a;
//}
//.submitButtonn{
//  margin-left: 120px;
//}
//.register{
//  text-align:center;
//  color: #d2232a;
//}
//.invalidInput{
//  border: #d2232a;
//
//}
//.is-invalid{
//  border-right:5px solid #d2232a !important;
//}
//.is-valid{
//  border-right:5px solid green !important;
//}
//.errorMessage{
//  margin-left: 120px;
//}
//.successMessage{
//  margin-left: 120px;
//  color: green;
//
//}
//.cross-icon{
//  color: red;
//}
//.check-icon{
//  color: green;
//}
//
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

//tr:nth-child(even) {
//  background-color: #dddddd;
//}
