table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background:white;
  //margin: 30px 100px;

}

th,td {
  text-align: left;
  padding: 8px;
  border-bottom:1px solid #ddd;
}

.profileHeading{
  color:#007185;
  cursor: pointer;
  padding:10px;
}
