<p-toast position="bottom-right"></p-toast>
<div class="wrapper">
  <div class="scooter-container">
<!--    <img id="scooter" src='../../assets/img/scooter.gif'/>-->
  </div>
<!--  <div class="form-group" style="margin: auto;width: 78%;padding-left: 333px;" *ngIf="paymentMethod==='paytm'">-->
  <div class="form-group" style="margin: auto;width: 78%;padding-left: 333px;">
    <b style="padding-left: 162px; color:green">Order Transaction Details</b>
    <table>
      <tr>
        <td>Order Payment Method is</td>
        <td>PayTM</td>
      </tr>
      <tr>
        <td>Order ID is</td>
<!--        <td>{{ORDER_ID}}</td>-->
      </tr>
      <tr>
        <td>Order Transaction Amount is</td>
<!--        <td>{{TXN_AMOUNT}}</td>-->
      </tr>
      <tr>
        <td>Order Transaction ID is</td>
<!--        <td>{{TXN_ID}}</td>-->
      </tr>
      <tr>
        <td>Order Bank Transaction ID is</td>
<!--        <td>{{BANKTXN_ID}}</td>-->
      </tr>
      <tr>
        <td>Order Transaction Date & Time is</td>
<!--        <td>{{TXNDATE}}</td>-->
      </tr>
      <tr>
        <td>Order Payment Gate Way Name is</td>
<!--        <td>{{GATEWAYNAME}}</td>-->
      </tr>
    </table>
    <div style="padding-left: 196px">
      <span class="label label-warning" style="margin-top:20px;cursor: pointer" routerLink="/home">Continue Shopping</span>
    </div>
  </div>
<!--  <div class="form-group" style="margin: auto;width: 78%;padding-left: 333px;" *ngIf="paymentMethod==='cashondelivery'">-->
  <div class="form-group" style="margin: auto;width: 78%;padding-left: 333px;">

  <b style="padding-left: 162px; color:green">Order Transaction Details</b>
    <table>
      <tr>
        <td>Order Payment Method is</td>
        <td>Cash On Delivery</td>
      </tr>
      <tr>
        <td>Customer ID is</td>
<!--        <td>{{CUST_ID}}</td>-->
      </tr>
      <tr>
        <td>Order ID is</td>
<!--        <td>{{ORDER_ID}}</td>-->
      </tr>
      <tr>
        <td>Order Transaction Amount is</td>
<!--        <td>{{TXN_AMOUNT}}</td>-->
      </tr>

    </table>
    <div style="padding-left: 196px">
      <span class="label label-warning" style="margin-top:20px;cursor: pointer" routerLink="/home">Continue Shopping</span>
    </div>
  </div>
</div>
