/* You can add global styles to this file, and also import other style files */
body{
  background: #e6e6e6;
}
.p-menubar {
  padding: 0.5rem;
  background: #4F4F4F !important;
  color: white !important;
  border: none !important;
  border-radius: 0!important;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color:white !important;
}
.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  border-color:transparent !important;
}.p-inputtext:hover {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  border-color:transparent !important;
}
